In [2]:
%pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     --------------------------------------- 0.0/11.9 MB 163.8 kB/s eta 0:01:13
     --------------------------------------- 0.0/11.9 MB 178.6 kB/s eta 0:01:07
     --------------------------------------- 0.1/11.9 MB 280.5 kB/s eta 0:00:42
     --------------------------------------- 0.1/11.9 MB 400.9 kB/s eta 0:00:30
      -------------------------------------- 0.2/11.9 MB 523.5 kB/s eta 0:00:23
      -------------------------------------- 0.2/11.9 MB 597.3 kB/s eta 0:00:20
     - ------------------------------------- 0.3/11.9 MB 731.4 kB/s eta 0:00:16
     - ------------------------------------- 0.4/11.9 MB 768.6 kB/s eta 0:00:15
     - ------------------------------------- 0.4/11.9 MB 833.5 kB/s eta 0:00:14
     -- ------------------------------------- 0.6/11.9 MB 1.1 MB/s eta 0:00:11
     -- ------------------------------------- 0.7/11.9 MB 1.2 MB/s eta 0:00:10
     --- ------------------------------------ 1.1/11.9 MB 1.6 MB/s eta 0:00:07
     ---- ----------------------------------- 1.4/11.9 MB 1.9 MB/s eta 0:00:06
     ----- ---------------------------------- 1.5/11.9 MB 2.0 MB/s eta 0:00:06
     ----- ---------------------------------- 1.5/11.9 MB 2.0 MB/s eta 0:00:06
     ----- ---------------------------------- 1.6/11.9 MB 1.8 MB/s eta 0:00:06
     ----- ---------------------------------- 1.7/11.9 MB 1.9 MB/s eta 0:00:06
     ----- ---------------------------------- 1.7/11.9 MB 1.9 MB/s eta 0:00:06
     ------- -------------------------------- 2.1/11.9 MB 2.1 MB/s eta 0:00:05
     ------- -------------------------------- 2.1/11.9 MB 2.1 MB/s eta 0:00:05
     -------- ------------------------------- 2.5/11.9 MB 2.3 MB/s eta 0:00:05
     -------- ------------------------------- 2.6/11.9 MB 2.4 MB/s eta 0:00:04
     -------- ------------------------------- 2.6/11.9 MB 2.4 MB/s eta 0:00:04
     -------- ------------------------------- 2.6/11.9 MB 2.4 MB/s eta 0:00:04
     -------- ------------------------------- 2.6/11.9 MB 2.4 MB/s eta 0:00:04
     ----------- ---------------------------- 3.3/11.9 MB 2.5 MB/s eta 0:00:04
     ----------- ---------------------------- 3.4/11.9 MB 2.5 MB/s eta 0:00:04
     ----------- ---------------------------- 3.5/11.9 MB 2.5 MB/s eta 0:00:04
     ------------ --------------------------- 3.6/11.9 MB 2.4 MB/s eta 0:00:04
     ------------ --------------------------- 3.8/11.9 MB 2.5 MB/s eta 0:00:04
     -------------- ------------------------- 4.2/11.9 MB 2.6 MB/s eta 0:00:03
     --------------- ------------------------ 4.5/11.9 MB 2.8 MB/s eta 0:00:03
     --------------- ------------------------ 4.6/11.9 MB 2.8 MB/s eta 0:00:03
     --------------- ------------------------ 4.6/11.9 MB 2.8 MB/s eta 0:00:03
     --------------- ------------------------ 4.6/11.9 MB 2.7 MB/s eta 0:00:03
     ---------------- ----------------------- 4.8/11.9 MB 2.7 MB/s eta 0:00:03
     ---------------- ----------------------- 4.9/11.9 MB 2.6 MB/s eta 0:00:03
     ----------------- ---------------------- 5.1/11.9 MB 2.7 MB/s eta 0:00:03
     ----------------- ---------------------- 5.1/11.9 MB 2.7 MB/s eta 0:00:03
     ----------------- ---------------------- 5.3/11.9 MB 2.7 MB/s eta 0:00:03
     ----------------- ---------------------- 5.3/11.9 MB 2.6 MB/s eta 0:00:03
     ------------------ --------------------- 5.4/11.9 MB 2.6 MB/s eta 0:00:03
     ------------------- -------------------- 5.7/11.9 MB 2.7 MB/s eta 0:00:03
     ------------------- -------------------- 5.9/11.9 MB 2.7 MB/s eta 0:00:03
     -------------------- ------------------- 6.1/11.9 MB 2.7 MB/s eta 0:00:03
     --------------------- ------------------ 6.3/11.9 MB 2.8 MB/s eta 0:00:02
     --------------------- ------------------ 6.5/11.9 MB 2.8 MB/s eta 0:00:02
     ---------------------- ----------------- 6.8/11.9 MB 2.9 MB/s eta 0:00:02
     ----------------------- ---------------- 7.0/11.9 MB 2.9 MB/s eta 0:00:02
     ------------------------ --------------- 7.1/11.9 MB 2.9 MB/s eta 0:00:02
     ------------------------ --------------- 7.1/11.9 MB 2.9 MB/s eta 0:00:02
     ------------------------ --------------- 7.2/11.9 MB 2.8 MB/s eta 0:00:02
     ------------------------ --------------- 7.4/11.9 MB 2.9 MB/s eta 0:00:02
     ------------------------- -------------- 7.5/11.9 MB 2.8 MB/s eta 0:00:02
     ------------------------- -------------- 7.6/11.9 MB 2.8 MB/s eta 0:00:02
     ------------------------- -------------- 7.6/11.9 MB 2.8 MB/s eta 0:00:02
     -------------------------- ------------- 7.8/11.9 MB 2.8 MB/s eta 0:00:02
     -------------------------- ------------- 7.8/11.9 MB 2.8 MB/s eta 0:00:02
     -------------------------- ------------- 8.0/11.9 MB 2.8 MB/s eta 0:00:02
     --------------------------- ------------ 8.2/11.9 MB 2.8 MB/s eta 0:00:02
     ---------------------------- ----------- 8.3/11.9 MB 2.8 MB/s eta 0:00:02
     ---------------------------- ----------- 8.5/11.9 MB 2.8 MB/s eta 0:00:02
     ----------------------------- ---------- 8.6/11.9 MB 2.8 MB/s eta 0:00:02
     ----------------------------- ---------- 8.8/11.9 MB 2.8 MB/s eta 0:00:02
     ------------------------------ --------- 9.0/11.9 MB 2.8 MB/s eta 0:00:02
     ------------------------------ --------- 9.1/11.9 MB 2.8 MB/s eta 0:00:01
     ------------------------------- -------- 9.3/11.9 MB 2.9 MB/s eta 0:00:01
     ------------------------------- -------- 9.5/11.9 MB 2.9 MB/s eta 0:00:01
     -------------------------------- ------- 9.7/11.9 MB 2.9 MB/s eta 0:00:01
     --------------------------------- ------ 9.8/11.9 MB 2.9 MB/s eta 0:00:01
     --------------------------------- ------ 10.0/11.9 MB 2.9 MB/s eta 0:00:01
     ---------------------------------- ----- 10.2/11.9 MB 2.9 MB/s eta 0:00:01
     ---------------------------------- ----- 10.3/11.9 MB 3.1 MB/s eta 0:00:01
     ----------------------------------- ---- 10.6/11.9 MB 3.2 MB/s eta 0:00:01
     ----------------------------------- ---- 10.6/11.9 MB 3.3 MB/s eta 0:00:01
     ----------------------------------- ---- 10.6/11.9 MB 3.3 MB/s eta 0:00:01
     ----------------------------------- ---- 10.6/11.9 MB 3.3 MB/s eta 0:00:01
     ------------------------------------- -- 11.1/11.9 MB 3.3 MB/s eta 0:00:01
     -------------------------------------- - 11.3/11.9 MB 3.3 MB/s eta 0:00:01
     -------------------------------------- - 11.4/11.9 MB 3.2 MB/s eta 0:00:01
     -------------------------------------- - 11.5/11.9 MB 3.2 MB/s eta 0:00:01
     ---------------------------------------  11.6/11.9 MB 3.2 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 3.2 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 3.2 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp311-cp311-win_amd64.whl size=247957 sha256=b43a00501493a4797e9a1020f5c0016ed3dc81265e1d15f4911b3c5dbf711a45
  Stored in directory: c:\users\arham shakeel\appdata\local\pip\cache\wheels\17\cd\ed\2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\Arham Shakeel\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [40]:
import mysql.connector
import sqlite3

If you have secured your local MySQL server with a specific username and password, you should use that exact username and password in your code when establishing a connection. Using the correct credentials is crucial for the security and functionality of your application.  chatgpt

 After executing this line, the db variable will hold the connection object, which can be used to interact with the MySQL database in the subsequent code.

. A cursor is an object that allows you to interact with the database by sending SQL queries and fetching results. The cursor is like a pointer that moves through the rows of the result set.

In [77]:
mycursor = db.cursor()

##### After this line of code is executed, you can use mycursor to perform various operations on the database. For example, you can execute SQL queries using mycursor.execute(), fetch results using mycursor.fetchall(), and commit changes to the database using db.commit().

WE execute the query by passing in the query in mycursor object.execute
The name of query is CREATE DATABASE and to call it mean as a function use any name but without any space

In [11]:
mycursor.execute("CREATE DATABASE testdatabase2")

In [ ]:
# to connect to this data base pass argument databaes=" the name we used i.e. testdatabase"

In [21]:
db = mysql.connector.connect(
        host="localhost",user="sammar",passwd="samar213",database="testdatabase")

In [22]:
mycursor = db.cursor()

# MAKING A TABLE
#cursorobject."execute"("QUERY(CREATE TABLE) NameOFTable(PERSON) (Name of column/indexes and type of data they are going to hold)")

#### DataTypes
 ######   Numeric Types:

INT or INTEGER: Integer type.

TINYINT: Small integer.

SMALLINT: Small integer.

MEDIUMINT: Medium-sized integer.

BIGINT: Large integer.

FLOAT: Single-precision floating-point number.

DOUBLE: Double-precision floating-point number.

DECIMAL or NUMERIC: Fixed-point decimal.

###### Date and Time Types:

DATE: Date (YYYY-MM-DD).

TIME: Time (HH:MM:SS).

DATETIME: Date and time (YYYY-MM-DD HH:MM:SS).

TIMESTAMP: Timestamp (automatically updated to the current 

timestamp when a record is inserted or updated).

YEAR: Year in two-digit or four-digit format.

###### String Types:

CHAR: Fixed-length character string.

VARCHAR: Variable-length character string.

TEXT: Variable-length text.

BINARY: Fixed-length binary string.

VARBINARY: Variable-length binary string.

BLOB: Binary large object (for storing binary data).

###### Enumeration and Set Types:

ENUM: Enumeration (a list of permissible values).

SET: Set (a list of zero or more values).

###### Spatial Types:

GEOMETRY: Spatial data type for storing geometric objects.

These are the fundamental data types, and MySQL also supports 

variations and additional options for some types. For example, 

you can specify the size of a VARCHAR column or the precision and scale of a DECIMAL column.

When creating a table, you can use these data types to define the columns along with additional constraints such as NOT NULL, PRIMARY KEY, AUTO_INCREMENT, and more. The specific data types and options you choose depend on the nature of the data you want to store in your table.

In [7]:
mycursor.execute("CREATE TABLE Person1 (name VARCHAR(50), age smallint UNSIGNED, personID int PRIMARY KEY AUTO_INCREMENT)")

In [8]:
## FOR DESCRIBING THE TABLE  ..If table not there in db, gives error
mycursor.execute("DESCRIBE Person1")

In [9]:
for x in mycursor:
    print(x)

('name', 'varchar(50)', 'YES', '', None, '')
('age', 'smallint unsigned', 'YES', '', None, '')
('personID', 'int', 'NO', 'PRI', None, 'auto_increment')

In [ ]:
## ADDING ELEMENTS IN TABLE
# cursorobject.execute(INSERT INTO table name (name of columns to enter data) VALUES (%s,%s),(values like below))

In [13]:
mycursor.execute("INSERT INTO Person1 (name, age) VALUES (%s,%s)",("Tim",19))
db.commit()

In [ ]:
## getting information from table
#  cursorobject.execute("SELECT * FROM tablename")  
# and cursor will be loaded by values of table

In [17]:
mycursor.execute("SELECT * FROM Person1")

In [18]:
for x in mycursor:
    print(x)

('Joe', 20, 1)
('Tim', 19, 2)

In [20]:
#new table
from datetime import datetime

In [19]:
mycursor.execute("CREATE TABLE Test (name varchar(50), created datetime,gender ENUM('M','F','0'),id int PRIMARY KEY AUTO_INCREMENT)")

In [28]:
mycursor.execute("INSERT INTO Test (name,created,gender) VALUE (%s,%s,%s)",("Joey",datetime.now(),'F'))
db.commit()

In [ ]:
## selecting specific values from table
# can be of selecting males, or having same name

In [ ]:
#  select from table is same, where can be used to pick specific, like gender=='M' gets males and ORDER by Column to look and the Ascending ASC or descending DESC
 #   * selects all colunms, it can be replaced by some specific columns name

In [33]:
mycursor.execute("SELECT * FROM Test WHERE gender='M' ORDER BY created ASC")
for x in mycursor:
    print(x)

('Joe', datetime.datetime(2023, 11, 21, 19, 30, 54), 'M', 1)
('Joe', datetime.datetime(2023, 11, 21, 19, 30, 57), 'M', 2)
('Tim', datetime.datetime(2023, 11, 21, 19, 31, 8), 'M', 3)
('Tim', datetime.datetime(2023, 11, 21, 19, 31, 18), 'M', 4)
('Tim', datetime.datetime(2023, 11, 21, 19, 31, 23), 'M', 5)
('Tim', datetime.datetime(2023, 11, 21, 19, 31, 28), 'M', 6)
('Kim', datetime.datetime(2023, 11, 21, 19, 31, 39), 'M', 7)

In [ ]:
#  we wanted id so got the id and name retaining order as written

In [35]:
mycursor.execute("SELECT id,name FROM Test WHERE gender='M' ORDER BY created ASC")
for x in mycursor:
    print(x)

(1, 'Joe')
(2, 'Joe')
(3, 'Tim')
(4, 'Tim')
(5, 'Tim')
(6, 'Tim')
(7, 'Kim')

In [ ]:
#### MODIFYING A TABLE ,
#1. ADDING A COLUMN
# cursorobject.execute(ALTER TABLE table name ADD COLUMN column name type)#

In [36]:
mycursor.execute("ALTER TABLE Test ADD COLUMN food VARCHAR(50) NOT NULL")

In [38]:
mycursor.execute("DESCRIBE Test")
for x in mycursor:
    print(x)   #new column added

('name', 'varchar(50)', 'YES', '', None, '')
('created', 'datetime', 'YES', '', None, '')
('gender', "enum('M','F','0')", 'YES', '', None, '')
('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('food', 'varchar(50)', 'NO', '', None, '')

In [ ]:
# 2. remove column from table
# cursorobject.execute(ALTER TABLE table name DROP column name)

In [41]:
mycursor.execute("ALTER TABLE Test DROP food")

In [42]:
mycursor.execute("DESCRIBE Test")
for x in mycursor:
    print(x)   # deleted the column

('name', 'varchar(50)', 'YES', '', None, '')
('created', 'datetime', 'YES', '', None, '')
('gender', "enum('M','F','0')", 'YES', '', None, '')
('id', 'int', 'NO', 'PRI', None, 'auto_increment')

In [46]:
# change name of column
#  # cursorobject.execute(ALTER TABLE table name CHANGE old name new name +its type)
#  ADDING TYPE  and correct type IS MANADATORY   ,

In [70]:
mycursor.execute("ALTER TABLE Person1 CHANGE age password varchar(50)")

In [51]:
mycursor.execute("DESCRIBE Test")
for x in mycursor:
    print(x)

('first_name', 'varchar(50)', 'YES', '', None, '')
('created', 'datetime', 'YES', '', None, '')
('gender', "enum('M','F','0')", 'YES', '', None, '')
('id', 'int', 'NO', 'PRI', None, 'auto_increment')

### FOREIGN KEYS    (RELATING TABLES)
REFERENCING 1 TABLE TO ANOTHER
Foreign Key (FK) is a field in a table that is a Primary Key (PK) in another table. 
EVER Foreign key has 1 specific primary key in parent table
###### 1. one to one
   
   Every foreign key is a specific key(Can say a primary key of      child table. Mean there is only 1 row in child table that        corresponds to 1 row in parent table). 
   
###### 2. many to one:
    
In this case there could be more rows of foreign keys in child table that are related/refered to only 1 row in parent table. So the foregin keys cannot be the primary key of child table

In [67]:
users = [("tim","tim123"),("joe","joe123"),("zee","zee123")]
users_scores= [(45,100),(30,200),(46,124)]

In [ ]:
# We can acutally write queries in a variable and than can pass that 
# variable to cursor.execute

#### Syntax for child class
 CREATE TABLE "table_name" (column 1+type PRIMARY KEY , FOREIGN KEY(columnToBeTreated as ForeignAmbassador i.e.column 1) REFERENCES "parentTable"(column of parent table to refernece),)

In [60]:
Q1 = "CREATE TABLE users (id int PRIMARY KEY AUTO_INCREMENT,name varchar(10),password varchar(10))"
Q2 = "CREATE TABLE scores (user_id int PRIMARY KEY ,FOREIGN KEY(user_id) REFERENCES users(id), game1 int DEFAULT 0, game2 int DEFAULT 0)" # sets default value =0

# mycursor.exectue(Q1)
# mycursor.execute(Q2)

In [61]:
# checking tables
mycursor.execute("SHOW TABLES")
for i in mycursor:
    print(i)

('person',)
('person1',)
('scores',)
('test',)
('users',)

In [ ]:
# filling values all at once

In [71]:
# all at once
mycursor.executemany("INSERT INTO Person1 (name,password)  VALUES (%s,%s)",users)

In [72]:
mycursor.execute("SELECT * FROM Person1")
for i in mycursor:
    print(i)

('Joe', '20', 1)
('Tim', '19', 2)
('tim', 'tim123', 3)
('joe', 'joe123', 4)
('zee', 'zee123', 5)

In [74]:
Q3 = "INSERT INTO users (name,password) VALUES (%s,%s)"
Q4 = "INSERT INTO scores (user_id,game1,game2) VALUES (%s,%s,%s)"

for x,user in enumerate(users):
    mycursor.execute(Q3,user)
    last_id_added = mycursor.lastrowid   # get last row's id
    mycursor.execute(Q4,(last_id_added,)+(users_scores[x]))  # adds tuple of id to users_score[x] mean iterator number, can also do by initializing a variable =0 and incrementing it

In [76]:
mycursor.execute("SELECT * FROM scores")
for i in mycursor:
    print(i)

(2, 45, 100)
(3, 30, 200)
(4, 46, 124)

In [ ]:
### updating table ###

In [102]:
name="samaR"
mycursor.execute("update Person1 SET name=%s where personID=2",(name,))

## OR
# mycursor.execute("update Person1 SET name='samar' where personID=2")

In [110]:
mycursor.execute("SELECT * FROM Person1")
for i in mycursor:
    print(i)

('tim', 'tim123', 3)
('joe', 'joe123', 4)
('zee', 'zee123', 5)

#### Delete a row

In [109]:
mycursor.execute("Delete from Person1 where personId=%s",(2,))

In [120]:
mycursor.execute("create table if not exists Doctors (Id int PRIMARY KEY AUTO_INCREMENT NOT NULL,name varchar(20),phone_number char(20) NOT NULL, type TEXT)")

In [132]:
Q2 = "create table if not exists Patients (Id int primary key auto_increment,name varchar(20),email_address varchar(20),problem varchar(20),doctor_id int not null,FOREIGN KEY(doctor_id) REFERENCES Doctors(Id))"
mycursor.execute(Q2)

In [130]:
doc = [("umair","01304","pythonspecialist"),
      ("ahmed","03442","dldspecialist"),
      ("adil","07842","oopspecialist")]
Q2 = "insert into Doctors (name,phone_number,type) value(%s,%s,%s)"
mycursor.executemany(Q2,doc)

In [161]:
for i in mycursor:
    print(i)

(1, 'umair', '01304', 'pythonspecialist')
(2, 'ahmed', '03442', 'dldspecialist')
(3, 'adil', '07842', 'oopspecialist')

In [184]:
mycursor.execute("select * from Patients")
for i in mycursor:
    print(i)

(4, 'sam', 'sam@123', 'paiache', 1)
(5, 'abd', 'abd@123', 'dldache', 1)
(6, 'ar', 'ar@123', 'oopache', 2)

In [182]:
patients = [("sam","sam@123","paiache",1),("abd","abd@123","dldache",1)
           ,("ar","ar@123","oopache",2)]
Q4 = "insert into Patients (name,email_address,problem,doctor_id) values(%s,%s,%s,%s)"
mycursor.executemany(Q4,patients)

In [15]:
mycursor.execute("select name,email_address from Patients where doctor_id=1")
for i in mycursor:
    print(i)

('sam', 'sam@123')
('abd', 'abd@123')

In [10]:
## JOINS

In [39]:
mycursor.execute("SELECT * FROM Doctors left JOIN Patients on Patients.doctor_id=Doctors.Id")
for i in mycursor:
    print(i)

(1, 'umair', '01304', 'pythonspecialist', 5, 'abd', 'abd@123', 'dldache', 1, None)
(1, 'umair', '01304', 'pythonspecialist', 4, 'sam', 'sam@123', 'paiache', 1, None)
(2, 'ahmed', '03442', 'dldspecialist', 6, 'ar', 'ar@123', 'oopache', 2, None)
(3, 'adil', '07842', 'oopspecialist', None, None, None, None, None, None)